In [146]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [147]:
showdrink = pd.read_csv("drink.csv")

In [148]:
showdrink.head(15)

    age  gender   drink
0    21       1    coke
1    30       1  coffee
2    35       0     tea
3    55       0   water
4    19       0  orange
5    60       1     tea
6    39       0   water
7    25       1    coke
8    44       1  coffee
9    47       0   water
10   33       0     tea
11   65       1     tea

In [149]:
feature_cols = ['age', 'gender']
X = showdrink[feature_cols]
y = showdrink.drink
y

0       coke
1     coffee
2        tea
3      water
4     orange
5        tea
6      water
7       coke
8     coffee
9      water
10       tea
11       tea
Name: drink, dtype: object

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)
y_test

2      tea
3    water
Name: drink, dtype: object

In [162]:
model = DecisionTreeClassifier()
model.fit(X_train.values, y_train)
predictions = model.predict(X_test.values)
predictions

array(['tea', 'tea'], dtype=object)

In [163]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5

In [164]:
predictions = model.predict([[23,0]])
predictions

array(['coke'], dtype=object)

In [165]:
import joblib
joblib.dump(model, 'drink-recommender.joblib')

['drink-recommender.joblib']